:root {
  --primary: #192229;
  --secondary: #000;
  --lightGrey: #FAFDFF;
  --midGrey: #ffee00;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --font-primary: 'Open Sans', sans-serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 3px;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::selection {
  background: rgba(0, 194, 189, 0.6);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  font-family: var(--font-system);
  min-height: 100%;
  position: relative;
  background: white;
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 5rem 0;
  border-bottom: 1px solid #f1f1f1;
}
.section:last-child {
  border: 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

.container {
  max-width: 1111px;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* Buttons */

.Button {
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
}
.Button:hover,
.Button:focus {
  opacity: 0.95;
  outline: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}








/* CSS Document */
/* 
 *
 *
 [Table of contents]
 *
 *
 *
 color / $white
 font / @import 
 general / html
 dropdown / .dropdown-custom.btn
 navbar / .navbar
 slider home / .jumbomain
 breadcumb / .breadcumb
 home / .subheading
 slickteam / .slickteam
 pricing / .pricelist
 testimony / .wraper-testimony
 footer / footer
 portofolio / AppContainer
 contact / .form-side
 media all / @media only screen and (max-width: 1199px)
 */
/*font*/
/*general*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #f3f3f3;
  background: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FAFDFF;
}
body p {
  color: #53575A;
}
.br {
  display: block;
  white-space: pre-wrap;
}
section {
  padding: 75px 0;
}
.wraper {
  padding: 0;
  display: block;
}
.m-2-hor {
  padding: 0 7%;
  max-width: 1500px;
  margin: 0 auto !important;
}
.m-10-hor {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 1500px;
  margin: 0 auto;
}
.btn {
  position: relative;
  overflow: hidden;
  font-size: 14px;
  text-transform: uppercase;
  color: #f3f3f3;
  background-image: linear-gradient(to left, #0FBF61, #0FBF61);
  border: none;
  border-radius: 30px;
  padding: 12px 44px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 0;
}
.btn span {
  color: #f3f3f3;
  position: relative;
  z-index: 1;
}
.btn::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to left, #0FBF61, #0FBF61);
  opacity: 1;
  z-index: 1;
  transition: all 0.3s ease;
}
.btn:hover::before {
  opacity: 0;
  transition: all 0.3s ease;
}
.text-gradient {
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background: linear-gradient(to bottom, #0FBF61, #0FBF61);
}
/* dropdown */
.dropdown-custom.btn {
  overflow: unset !important;
  font-weight: 500;
  padding: 4px 20px;
  background: none !important;
}
.dropdown-custom.btn::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 19px;
  width: max-content;
  height: auto;
  padding: 30px 40px;
  background: 0;
}
.dropdown-custom.btn::after {
  margin-left: 10px !important;
}
.dropdown-custom.btn:focus {
  box-shadow: none !important;
}
.dropdown-custom.btn:hover {
  color: #0FBF61;
}
.item-dropdown {
  width: max-content;
  padding: 0;
  position: absolute;
  background: #1b1b1b;
  border-radius: 0px;
  inset: 40px auto auto 19px;
  border-radius: 4px;
  padding: 5px 0;
  animation: smoothDrop 0.2s ease;
  -webkit-animation: smoothDrop 0.2s ease;
  z-index: 1;
}
.item-dropdown .dropdown {
  position: relative;
  text-align: center;
}
.item-dropdown .dropdown a {
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.3px;
  display: block;
  font-size: 0.96rem !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 20px 10px 20px;
  min-width: 190px;
  width: 100%;
  text-align: left;
}
.item-dropdown .dropdown a:hover {
  color: #ddd !important;
  background: 0;
}
.item-dropdown .dropdown a:last-child {
  border-bottom: none;
}
.imgslickz {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*navbar*/
.navbar {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  background: #01130a;
  position: fixed;
}
.navbar .w-100-nav {
  margin: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  position: relative;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding: 4px 20px;
  text-decoration: none !important;
  color: #f3f3f3;
  transition: all 0.3s ease;
}
.navbar a:hover {
  color: #0FBF61;
  transition: all 0.3s ease;
}
.navbar a.active {
  color: #0FBF61 !important;
  transition: all 0.3s ease;
}
.navbar a.active:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background: 0;
  cursor: default;
}
.navbar .navbar-title {
  margin-right: auto;
  font-size: 50%;
  padding: 12px 16px;
}
.navbar .navbar-item {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  cursor: default;
  vertical-align: middle;
}
.navbar .logo .navbar-item {
  margin-top: 10px;
  position: relative;
  top: -4px;
  left: 0px;
  padding: 0;
  width: auto;
  border-bottom: none;
}
.navbar .logo .navbar-item a {
  padding: 0;
}
.navbar .nav-icon {
  display: none;
}
@media only screen and (max-width: 1199px) {
  .navbar .m-2-hor {
    padding: 0px 2%;
  }
  .navbar .menu {
    padding: 15px 0 10px;
  }
  .navbar.navbar {
    background: #1b1b1b;
    position: relative;
  }
  .navbar .w-100-nav {
    display: block;
  }
  .navbar .navbar-item {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .navbar .nav-icon {
    position: absolute;
    top: 33px;
    right: 25px;
    display: block;
    width: 20px;
    height: 10px;
    padding-top: 13px;
    line-height: 0;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    z-index: 9999;
  }
  .navbar .bg-nav-icon {
    width: 32px;
    height: 24px;
    background: rgba(255, 255, 255, 0);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  .navbar #nav-icon span, .navbar .nav-icon span {
    display: none;
    position: absolute;
    top: 5px;
    left: -40px;
    font-size: 0.62rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navbar .menu-line {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0px;
    background-color: #fff;
  }
  .navbar .menu-line1 {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 5px;
    background-color: #fff;
  }
  .navbar .menu-line2 {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 10px;
    background-color: #fff;
  }
  .navbar.sticky {
    position: absolute !important;
  }
}
.navbar.sticky {
  position: absolute;
  top: 0;
  width: 100%;
  background: #1b1b1b;
  animation: smoothScroll 0.6s forwards;
  -webkit-animation: smoothScroll 0.6s forwards;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}
@keyframes smoothDrop {
  0% {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}
.amado {
  color: #eee;
  font-size: 20px;
  text-transform: capitalize;
}
.dios {
  background-color: #0FBF61;
  color: #eee;
  padding: 5px;
  border-radius: 3px;
}
.de {
  text-transform: lowercase;
}
/* disable click active */
.navbar-item {
  pointer-events: auto;
}
.navbar-item a.active {
  pointer-events: none;
}
/* disable click active */
/* slider */
.jumbomain {
  position: relative;
  padding: 0;
  margin: 0;
}
.slider-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.slider-wrapper .previousButton, .slider-wrapper .nextButton {
  opacity: 0;
  text-decoration: none;
  transition: all 0.3s ease;
}
.slider-wrapper:hover .previousButton, .slider-wrapper:hover .nextButton {
  opacity: 1;
  transition: all 0.3s ease;
}
.slide {
  background-size: cover !important;
}
.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.previousButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  text-align: center;
}
.previousButton svg, .nextButton svg {
  display: none;
}
.previousButton::before, .nextButton::before {
  content: "\f054";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}
.previousButton {
  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}
.previousButton {
  left: 6%;
}
.nextButton {
  right: 6%;
}
.slider-content {
  text-align: center;
}
.slider-content .inner {
  padding: 0 15px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slider-content .inner button {
  position: relative;
  overflow: hidden;
  font-size: 0.86rem;
  text-transform: uppercase;
  color: #f3f3f3;
  background-image: linear-gradient(to left, #0FBF61, #0FBF61);
  border: none;
  border-radius: 30px;
  padding: 12px 44px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 0;
}
.slider-content .inner button span {
  position: relative;
  z-index: 1;
}
.slider-content .inner button::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to left, #0FBF61, #0FBF61);
  opacity: 1;
  z-index: 1;
  transition: all 0.3s ease;
}
.slider-content .inner button:hover::before {
  opacity: 0;
  transition: all 0.3s ease;
}
.slider-content .inner h1 {
  font-weight: 600;
  margin: 0 auto;
  max-width: 840px;
  color: #fff;
  font-size: 2.3rem;
}
.slider-content .inner p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 10px auto 25px;
  max-width: 640px;
}
.slider-content section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.slider-content section span {
  color: #fff;
}
.slider-content section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
}
.slider-content section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}
.slider-content section span strong {
  color: #fff;
  font-size: 14px;
  display: block;
}
@media (max-height: 500px) {
  .slider-wrapper, .slide {
    height: 600px;
  }
}
@media (max-width: 640px) {
  .slider-wrapper, .slide {
    height: calc(80vh - 75px);
  }
}
@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}
@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}
.slide h1 {
  transition: all 0.3s ease;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
}
.slide button {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}
.slide p {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}
.slide section * {
  transition: all 0.3s ease;
}
.slide section img {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
}
.slide section span {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
}
.slide section span strong {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
}
.slide.animateIn.previous h1, .slide.current h1, .slide.animateIn.next h1, .slide.animateIn.previous button, .slide.current button, .slide.animateIn.next button, .slide.animateIn.previous p, .slide.current p, .slide.animateIn.next p, .slide.animateIn.previous section *, .slide.current section *, .slide.animateIn.next section * {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
  opacity: 1;
}
.slide.animateIn.previous p, .slide.animateIn.next p {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
.slide.animateIn.previous button, .slide.animateIn.next button {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}
.slide.animateIn.previous section img, .slide.animateIn.next section img {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}
.slide.animateIn.previous section span, .slide.animateIn.next section span {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
.slide.animateIn.previous section span strong, .slide.animateIn.next section span strong {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.slide.animateOut h1 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.slide.animateOut p {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slide.animateOut section span {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.slide.animateOut section span strong {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* breadcumb  cambio*/
.breadcumb {
  border-radius: 0;
  margin: 0;
  padding: 0 0;
  background-size: cover;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  height: 550px;
}
.breadcumb::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.breadcumb .mainbreadcumb {
  padding: 320px 0 30px;
}
.breadcumb .mainbreadcumb h1 {
  margin-bottom: 0;
  line-height: 1;
}
.breadcumb .mainbreadcumb .list {
  position: relative;
  bottom: -20px;
  display: flex;
  justify-content: right;
  font-size: 0.86rem;
  font-weight: 400;
  letter-spacing: 4px;
}
.breadcumb .mainbreadcumb .list .dash {
  padding: 0 10px;
}
.breadcumb .mainbreadcumb .list .link {
  color: #f3f3f3;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.breadcumb .mainbreadcumb .list .link:hover {
  color: #0FBF61;
  transition: all 0.3s ease;
}
.breadcumb .homebread {
  padding: 180px 0 140px;
}
.breadcumb .homebread .heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}
.breadcumb .homebread .subheading {
  font-size: 2.1rem;
  margin-bottom: 0;
}
.breadcumb .homebread .content {
  max-width: 500px;
  font-size: 1rem;
  margin-bottom: 0;
  margin-bottom: 30px;
}
/* home */
.subheading {
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.valoressubheading {
  margin-top: 100px;
}
.heading {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.pei {
  width: 80%;
  margin-left: 10%;
  border-bottom: 20px;
}
.content {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-bottom: 4px;
}
.col-feature {
  display: block;
}
.col-feature .sub-color {
  color: #0FBF61;
  font-size: 1.6rem;
  font-weight: 700;
}
.col-feature .heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 5px 0;
}
.col-feature .content {
  font-size: 1rem;
}
.border-radius {
  border-radius: 8px;
  transition: all 0.3s ease;
}
.border-radius:hover {
  box-shadow: none;
  transition: all 0.3s ease;
}
/* icon scroll */
.icon-scroll-wraper {
  position: absolute;
  width: 100%;
  bottom: 5vh;
  left: 0;
}
.icon-scroll {
  position: relative;
  margin: 0 auto;
}
.icon-scroll:before {
  position: absolute;
}
.icon-scroll {
  width: 26px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  z-index: 1;
  border-radius: 25px;
  height: 38px;
}
.icon-scroll:before {
  content: '';
  width: 3px;
  height: 6px;
  background: rgba(255, 255, 255, 0.6);
  left: 12px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
/*slickteam*/
.slickteam {
  width: 100%;
  position: relative;
  padding: 30px 0 0;
}
.slickteam .slick-prev {
  opacity: 0;
  left: -30px;
  z-index: 1;
  transition: all 0.3s ease;
}
.slickteam .slick-prev::before {
  font-size: 1rem;
  content: "\f053" !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}
.slickteam .slick-next {
  right: -30px;
  opacity: 0;
  transition: all 0.3s ease;
}
.slickteam .slick-next::before {
  font-size: 1rem;
  content: "\f054" !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}
.slickteam .slick-slide {
  position: relative;
}
.slickteam .slick-slide div {
  margin: 0 5px;
}
.slickteam .slick-slide div .itm {
  margin: 0;
  position: relative;
  height: 100%;
}
.slickteam .slick-slide div .itm .bg {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.slickteam .slick-slide div .itm .bg img {
  width: 100%;
  height: 100%;
  min-height: 380px;
  object-fit: cover;
}
.slickteam .slick-slide div .itm .bg:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #0FBF61, rgba(0, 0, 0, 0.3));
  opacity: 0.1;
  transition: all 0.3s ease;
}
.slickteam .slick-slide div .itm .desc {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-align: left;
}
.slickteam .slick-slide div .itm .desc .name {
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.slickteam .slick-slide div .itm .desc .title {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5;
  transition: all 0.3s ease;
}
.slickteam .slick-slide div .itm .icon {
  width: 100%;
  position: absolute;
  text-align: left;
  left: 15px;
  top: -30px;
  transition: all 0.3s ease;
}
.slickteam .slick-slide div .itm .icon span {
  width: 100%;
  height: auto;
  color: inherit;
  padding: 10px;
}
.slickteam .slick-slide div .itm .icon span i {
  font-size: 1rem;
  transition: all 0.3s ease;
}
.slickteam .slick-slide div .itm .icon span:hover i {
  transform: scale(1.3);
}
.slickteam .slick-slide div .itm:hover {
  cursor: pointer;
}
.slickteam .slick-slide div .itm:hover .bg:before {
  opacity: 1;
  transition: all 0.3s ease;
}
.slickteam .slick-slide div .itm:hover .icon {
  top: 15px;
  transition: all 0.3s ease;
}
.slickteam .slick-slide div .itm:hover .title {
  line-height: 0.9;
  transition: all 0.3s ease;
}
.slickteam .slick-slide.slick-col {
  display: block;
  overflow: hidden;
}
.slickteam .slick-slide.slick-col div .itm .bg img {
  min-height: 300px !important;
}
.slickteam:hover .slick-prev, .slickteam:hover .slick-next {
  opacity: 1;
  transition: all 0.3s ease;
}
/* pricing */
.pricelist {
  display: block;
  border: 8px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin: 30px auto 20px;
  text-align: center;
  transition: all 0.3s ease;
}
.pricelist .heading {
  font-size: 1.75rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0 30px;
}
.pricelist .bigprice {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  padding: 10px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.pricelist .bigprice small {
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.8;
}
.pricelist .list {
  list-style: none;
  padding: 0px;
  text-align: left;
}
.pricelist .list li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.pricelist .list li i {
  position: relative;
  top: -2px;
  font-size: 0.8rem;
  padding-right: 2px;
}
.pricelist:hover {
  border: 8px solid #0FBF61;
  transition: all 0.3s ease;
}
/*testimony*/
.wraper-testimony {
  background-size: cover;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 110px 0;
}
.wraper-testimony::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, #a22631, #7a111a);
  opacity: 0.95;
}
.testimony {
  width: 100%;
}
.testimony .slick-prev {
  opacity: 0;
  left: -30px;
  z-index: 1;
  transition: all 0.3s ease;
}
.testimony .slick-prev::before {
  font-size: 1rem;
  content: "\f053" !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}
.testimony .slick-next {
  right: -30px;
  opacity: 0;
  transition: all 0.3s ease;
}
.testimony .slick-next::before {
  font-size: 1rem;
  content: "\f054" !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}
.testimony .slick-slide {
  position: relative;
}
.testimony .slick-slide div {
  margin: 0 5px;
}
.testimony:hover .slick-prev, .testimony:hover .slick-next {
  opacity: 1;
  transition: all 0.3s ease;
}
.testimony .blockquote {
  text-align: left;
  margin: 15px 30px 30px;
  display: flex;
}
.testimony .blockquote .fa {
  font-size: 1.3rem;
  display: inline-block;
  margin: 5px 15px 0 0;
  color: #f3f3f3;
  height: max-content;
}
.testimony .blockquote p {
  font-size: 1rem;
  line-height: 1.8;
  display: inline-block;
}
.testimony .blockquote .bytesti {
  font-size: 0.9rem;
  font-weight: 400;
}
.testimony .slick-dots {
  bottom: -40px;
}
.testimony .slick-dots li.slick-active button::before {
  opacity: 0.75;
  color: #f3f3f3;
}
.testimony .slick-dots li button::before {
  color: #f3f3f3;
}
/* footer */
footer {
  background: #e7eaec;
  padding: 75px 0 0;
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow: hidden;
}
footer .footer-col {
  padding-right: 15px;
  padding-left: 15px;
  margin: 15px 0;
}
footer .footer-col .heading {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
footer .footer-col .content {
  line-height: 1.6;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}
footer .footer-col .content .link {
  font-size: 0.96rem;
  width: max-content;
  letter-spacing: 0;
  padding: 0 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-col .content .link:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}
footer .footer-col .content .socialicon {
  display: inline-block;
  padding: 10px 14px 6px;
  background: #111;
  margin-right: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}
footer .footer-col .content .socialicon i {
  font-size: 1.3rem;
}
footer .footer-col .content .socialicon:hover {
  background: #0FBF61;
  transition: all 0.3s ease;
}
.subfooter {
  width: 100%;
  margin-top: 90px;
  padding: 30px 15px;
  background: #111;
}
.subfooter .content {
  font-size: 0.8rem;
  opacity: 1;
  letter-spacing: 0.3px;
  margin: 0;
  color: #eee;
}
.subfooter .content-right {
  text-align: right;
  font-size: 0.9rem;
  opacity: 0.8;
  letter-spacing: 0.3px;
  margin: 0;
}
.subfooter .content-right i {
  padding: 0 5px;
}
@media only screen and (max-width: 768px) {
  .subfooter .content-right {
    text-align: left;
    margin-top: 5px;
  }
}
#scroll-to-top {
  cursor: pointer;
  width: max-content;
  height: max-content;
  position: fixed;
  right: 10px;
  z-index: 999;
}
#scroll-to-top.init {
  bottom: -60px;
  transition: all 0.3s ease;
}
#scroll-to-top.show {
  bottom: 15px;
  transition: all 0.3s ease;
}
#scroll-to-top div {
  font-size: 0.8rem;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  background: #0FBF61;
  transition: all 0.3s ease;
}
#scroll-to-top div:hover {
  background: #1b1b1b;
  transition: all 0.3s ease;
}
/** portofolio **/
.lightbox-portal {
  position: relative;
  z-index: 999;
}
.lightbox-portal h4 {
  font-weight: 700;
}
.btnLright {
  color: #f3f3f3;
  font-size: 21px !important;
  right: 10px !important;
}
.btnLleft {
  color: #f3f3f3;
  font-size: 21px !important;
  left: 10px !important;
}
.closeL {
  font-size: 21px !important;
  position: absolute;
  top: 10px;
  right: 10px;
}
.MainGimg {
  border-radius: 4px;
  transform: scale(1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.MainGimg .overlayCap {
  font-size: 1.3rem;
  width: 100%;
  bottom: 15px;
  padding-left: 20px;
  font-weight: 500;
  left: 0;
  z-index: 1;
}
.MainGimg:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
  bottom: 0;
  left: 0;
  z-index: 1;
}
.MainGimg:hover {
  transform: scale(1.07);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}
/** contact **/
.form-side {
  padding: 30px 40px;
  background: #e7eaec;
  border-radius: 12px;
}
.text-side {
  padding: 15px 0;
  margin-top: 15px;
}
.text-side .address {
  padding-top: 15px;
  line-height: 1.6;
}
.text-side .address .heading {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.text-side .address .list {
  position: relative;
  max-width: 320px;
  display: block;
  padding: 5px 0 15px;
  padding-left: 40px;
}
.text-side .address .list i {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.3rem;
  display: inline-block;
}
.text-side .address .list a {
  color: #f3f3f3;
  text-decoration: none;
  transition: all 0.3s ease;
}
.text-side .address .list a:hover {
  color: #0FBF61;
  transition: all 0.3s ease;
}
.formcontact {
  display: block;
  width: 100%;
}
.formcontact label {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.formcontact label input {
  font-size: 0.9rem;
  width: 100%;
  border-radius: 4px;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
}
.formcontact label textarea {
  font-size: 0.9rem;
  width: 100%;
  border-radius: 4px;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
}
.formcontact label .msg-error {
  font-size: 0.87rem;
  opacity: 0.8;
  padding: 5px 0;
}
.formcontact button {
  position: relative;
  overflow: hidden;
  font-size: 0.86rem;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to left, #0FBF61, #0FBF61);
  border: none;
  border-radius: 30px;
  padding: 12px 44px;
  margin: 15px 0;
  transition-delay: 0s;
  z-index: 0;
}
.formcontact button span {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}
.formcontact button::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to left, #0FBF61, #0FBF61);
  opacity: 1;
  z-index: 1;
  transition: all 0.3s ease;
}
.formcontact button:hover::before {
  opacity: 0;
  transition: all 0.3s ease;
}
/*** media all ***/
@media only screen and (max-width: 1199px) {
  .item-dropdown {
    position: relative;
    width: max-content;
    inset: unset;
    padding-top: 10px;
    border: 0;
    background: none;
  }
  .item-dropdown .dropdown a {
    padding: 10px 10px 10px 10px;
    width: max-content;
    text-align: left;
    left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 1024px) {
  .m-10-hor {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media only screen and (max-width: 768px) {
  .breadcumb .mainbreadcumb .list {
    justify-content: left;
    text-align: left;
    margin-bottom: 30px;
  }
}
.correo {
  padding-top: 30px;
  color: #02e4e4 !important;
  font-size: large;
  border: 1px solid springgreen;
  padding: 8px;
  border-radius: 12px;
}
.propuesta {
  width: 70%;
  margin-left: 15%;
}
.arriba {
  margin-top: 40px;
}
.menos {
  font-size: 9px !important;
}
.stats-asset {
  padding-top: 40px;
  padding-right: 66px;
  padding-bottom: 20px;
  padding-left: 66px;
  text-align: center;
}
.stats-item-counter {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  color: #ffffff;
}
.stats-subject {
  font-family: "Frank Ruhl Libre", "Times New Roman", Times, serif;
  font-weight: 700;
  display: block;
  opacity: 0.9;
  filter: alpha(opacity=90);
  margin-bottom: 11px;
}
.stats-description {
  display: block;
  opacity: 0.6;
  filter: alpha(opacity=60);
  font-size: 13px;
}
.acm-stats ul {
  list-style: none;
}
@media (max-height: 700px) {
  .acm-stats {
    background: #a22631;
    color: #ffffff;
    width: 100%;
  }
}
.style-1 a {
  color: #fff;
}
.srmilagros {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.srmilagros img {
  margin-top: 10px;
}
.srmilagros h1 span {
  font-size: 20px;
}
.tarjeta .card-body {
  background: #7a111a;
}
.tarjeta .btn:hover {
  background: #7a111a;
}
.treinta img {
  display: block;
  margin: auto;
  margin-top: 50px;
}
.videos {
  text-align: center;
}
.videos video {
  border: none;
  margin: 20px;
}
.fotos ul {
  display: flex;
}
.aniversarioImg {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.aniversarioImg img {
  margin-top: 40px;
  width: 60%;
  margin-left: 20%;
}
