.insignia img{
    width: 300px;
    height: auto;
}
.derecha{
    width: 100%;
    float: left;
    margin-top: -150px;
}
.derecha img{
    width: 80%;
  
}
.insignia img{
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    margin-left: 28%;
margin-top: 10%;
}